---
import BlogCard from "@/components/BlogCard.astro";
import Pagination from "@/components/Pagination.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getAllTaxonomy, getTaxonomy } from "@/lib/taxonomyParser.astro";
import { humanize } from "@/lib/utils/textConverter";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { getEntry } from "astro:content";

const BLOG_FOLDER = "blog";

const postIndex = await getEntry(BLOG_FOLDER, "-index");
const posts = await getSinglePage(BLOG_FOLDER);
const allCategories = await getAllTaxonomy(BLOG_FOLDER, "categories");
const categories = await getTaxonomy(BLOG_FOLDER, "categories");
const tags = await getTaxonomy(BLOG_FOLDER, "tags");
const sortedPosts = sortByDate(posts);
const totalPages: number = Math.ceil(posts.length / config.settings.pagination);
const currentPosts = sortedPosts.slice(0, config.settings.pagination);
---

<Base
  title={postIndex.data.title}
  meta_title={postIndex.data.meta_title}
  image={postIndex.data.image}
  description={postIndex.data.description}
>
  <section class="section p-14">
    <div class="text-center">
      <ul>
        {
          categories.map((category: string) => {
            const count = allCategories.filter((c) => c === category).length;
            return (
              <li class="m-3 inline-block">
                <a
                  href={`/categories/${category}`}
                  class="block rounded bg-theme-light px-4 py-2 text-xl text-dark dark:bg-darkmode-theme-light dark:text-darkmode-dark hover:bg-primary hover:text-white dark:hover:bg-darkmode-primary dark:hover:text-dark"
                >
                  {humanize(category)}{" "}
                  <span class="ml-2 rounded px-2">
                    {count}
                  </span>
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>

    <!-- blog posts -->
    <div class="container pt-14">
      <div class="row">
        {
          currentPosts.map((post) => (
            <div class="mb-14 md:col-6 lg:col-4">
              <BlogCard data={post} />
            </div>
          ))
        }
      </div>
      <Pagination
        section={BLOG_FOLDER}
        currentPage={1}
        totalPages={totalPages}
      />
    </div>
  </section>
</Base>
