---
import ImageMod from "@/components/ImageMod.astro";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import type { Button, Feature } from "@/types";
import { getEntry } from "astro:content";
import { FaCheck, FaLightbulb } from "react-icons/fa";

const homepage = await getEntry("homepage", "-index");
const testimonial = await getEntry("sections", "testimonial");
const call_to_action = await getEntry("sections", "call-to-action");
const { banner, features, slogan } = homepage.data;
---

<Base>
  <!-- Banner -->
  <section class="pt-14">
    <div class="container pb-6">
      <div class="row justify-center">
        <div class="text-center md:col-10 lg:col-7">
          <h1
            set:html={markdownify(banner.title)}
            class="mb-4 text-h3 lg:text-h1"
          />
          <p set:html={markdownify(banner.content)} class="mb-8" />
        </div>
      </div>
    </div>
    {
      banner.image && (
        <ImageMod
          class="mx-auto w-full"
          src={banner.image}
          height={380}
          width={1200}
          alt="banner"
          format="webp"
          loading="eager"
        />
      )
    }
  </section>

  <!-- Slogan -->
  <section class="section p-6 lg:p-14 bg-primary dark:bg-darkmode-primary">
    <div class="container">
      <div class="row text-center">
        <h1 class="text-h3 lg:text-h1 text-white dark:text-black flex items-center justify-center">
          <FaLightbulb className="mr-6" />
          {markdownify(slogan.title)}
        </h1>
      </div>
    </div>
  </section>

  <!-- Features -->
  {
    features.map((feature, index: number) => (
      <section class={`section-sm ${index % 2 === 0 && "bg-gradient"}`}>
        <div class="container">
          <div class="row items-center justify-between">
            <div
              class={`mb:md-0 mb-6 md:col-5 ${index % 2 !== 0 && "md:order-2"}`}
            >
              <ImageMod
                src={feature.image}
                height={480}
                width={520}
                alt={feature.title}
                format="webp"
              />
            </div>
            <div class={`md:col-7 lg:col-6 ${index % 2 !== 0 && "md:order-1"}`}>
              <h2 set:html={markdownify(feature.title)} class="mb-4" />
              <p set:html={markdownify(feature.content)} class="mb-8 text-lg" />
              <ul>
                {feature.bulletpoints.map((bullet: string) => (
                  <li class="relative mb-4 pl-6">
                    <FaCheck className={"absolute left-0 top-1.5"} />
                    <span set:html={markdownify(bullet)} />
                  </li>
                ))}
              </ul>
              {feature.button.enable && (
                <div class="flex justify-center md:justify-start">
                  <a class="btn btn-primary lg:mt-5" href={feature.button.link}>
                    {feature.button.label}
                  </a>
                </div>
              )}
            </div>
          </div>
        </div>
      </section>
    ))
  }

</Base>
