---
import ProjectCard from "@/components/ProjectCard.astro";
import ProjectCategories from "@/components/ProjectCategories.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { getEntry } from "astro:content";

const PROJECTS_FOLDER = "projects";

const projectsIndex = await getEntry(FOLDER, "-index");
const projects = await getSinglePage(FOLDER);
const sortedProjects = sortByDate(projects);
---

<Base
  title={projectsIndex.data.title}
  meta_title={projectsIndex.data.meta_title}
  image={projectsIndex.data.image}
  description={projectsIndex.data.description}
>
  <section class="section p-14">
    <ProjectCategories />

    <!-- Projects -->
    <div class="container">
      <div class="row">
        {
          sortedProjects.map((project) => (
            <div class="mb-14 md:col-6 lg:col-4">
              <ProjectCard data={project} />
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Base>
